// Colors

$color-gray-900: #212121;
$color-gray-900-60: rgba($color-gray-900, 0.6);
$color-gray-900-32: rgba($color-gray-900, 0.32);
$color-gray-900-24: rgba($color-gray-900, 0.24);

$color-gray-300: #e0e0e0;
$color-gray-50: #fafafa;

$color-white: #ffffff;

$color-orange-600: #fb8c00;
$color-orange-500: #ffa83a;

$color-green-600: #2e7d32;
$color-green-600-40: rgba($color-green-600, 0.4);
$color-green-500: #439e47;

$color-background: $color-gray-50;
$color-text: $color-gray-900;

// Layout

$section-padding: 104px;
$app-width: 1440px;
