@import './_variables.scss';
@import './_mixins.scss';
@import './_typography';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color-text;
}

section {
  min-height: 100dvh;
  padding: 0 $section-padding;
}

body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background;
  line-height: 1.6;
  font-family: 'Raleway Variable', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
