@import './_variables.scss';
@import './_mixins.scss';
@import './_typography';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-text;
  cursor: pointer;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $color-green-600;
    fill: $color-green-600;
  }
  &:focus-visible {
    @include focus-ring;
  }
}

img {
  height: auto;
  max-width: 100%;
}

section {
  min-height: 100dvh;
  padding: 0 $section-padding-mobile;

  @media (min-width: $tablet-breakpoint) {
    padding: 0 $section-padding-tablet;
  }

  @media (min-width: $desktop-breakpoint) {
    padding: 0 $section-padding-desktop;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background;
  line-height: 1.6;
  font-family: 'Raleway Variable', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
